.hero {
  position: relative;
  text-align: center;
  color: rgb(243, 215, 215);
  height: 80vh;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 8px;
}
.link{
  color: black;
  opacity: .75;
  text-decoration: none;
}

.link:hover{
  opacity: 1;
  /* text-decoration:underline; */
}
.text{
  color: white;
  font-size: 24px;
  /* margin-bottom: 10px; */
  background-color: black;
  width: fit-content;
  padding: 15px;
  margin: 30px auto;
  position: relative;
}
.text::before{
  content: "";
  display: block;
  width: 400px;
  height: 3px;
  background-color: rgb(13, 13, 13);
  position: absolute;
  left: 100%;
  top: 50%;
}

.text::after{
  content: "";
  display: block;
  width: 400px;
  height: 3px;
  background-color: rgb(13, 13, 13);
  position: absolute;
  right: 100%;
  top: 50%;
}
.poster{
  display: flex;
  align-items: center;
  justify-content:center;
  position: relative;

}

.poster img{
  max-width: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.poster p{
  text-align: center;
  width: 400px;
  background-color: #eafaf4;
  padding: 8px;
  position: absolute;
  bottom: 15%;
  left: 0;
  font-weight: 10px;
  color: black;
}
.comment{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}