.filter{
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 20px ;
    gap: 20px;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* margin: 20px ; */
}
.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.cardsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cardsGrid > * {
  flex: 1 1 calc(25% - 20px); /* 4 في الصف */
  max-width: calc(25% - 20px);
}

@media (max-width: 992px) {
  .cardsGrid > * {
    flex: 1 1 calc(50% - 20px); /* 2 في الصف */
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .cardsGrid > * {
    flex: 1 1 100%; /* واحد فقط */
    max-width: 100%;
  }
}

