/* src/components/UserManagement.module.css */

.content {
  padding: 20px;
}

.card {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #444;
}

.inputGroup input[type="text"],
.inputGroup input[type="email"],
.inputGroup input[type="password"],
.inputGroup input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.actionButton {
  background-color: #0d6efd;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.actionButton:hover {
  background-color: #0b5ed7;
}

/* img {
  border-radius: 8px;
  margin-top: 10px;
  max-width: 100px;
} */

button[style*="background-color: #dc3545"] {
  background-color: #dc3545 !important;
  color: white;
}

button[style*="background-color: #dc3545"]:hover {
  background-color: #bb2d3b !important;
}


.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-height: 80vh;
  position: relative;
  overflow-y: scroll;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.modalContent h2 {
  margin-bottom: 20px;
}

.modalContent form label {
  display: block;
  margin-bottom: 5px;
}

.modalContent form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.modalButton {
  width: 100%;
  padding: 10px;
  background-color: #1abc9c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modalButton:hover {
  background-color: #16a085;
}
.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.searchInput {
  padding: 8px;
  flex: 1;
  min-width: 200px;
}

.filterSelect {
  padding: 8px;
  min-width: 120px;
}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}
