/* Poster Component Styles */
.bg {
    background-color: #fff7e1;
    width: 100%;
    padding: 20px 30px; 
    /* margin-bottom: -7em; */
  }
  
  .posterTitle {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }
  
  .posterDescription {
    font-size: 1.1rem;
    color: black;
    line-height: 1.5;
    margin-top: 15px;
  }
  
  .posterImage {
    padding: 60px;
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  /* Media Queries */
  @media (max-width: 767px) {
    .posterTitle {
      font-size: 1.8rem;
    }
  
    .posterDescription {
      font-size: 1rem;
    }
  }
  