.hero {
  width: 100%;
  height: 90vh;
  background-image: url(../../Assets/images/pexels-jibarofoto-1559699.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  color: #fff;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.slash {
  width: 150px;
  height: 3px;
  background-color: #fd9707;
  z-index: 2;
  margin: 15px;
}

header {
  position: relative;
  z-index: 2;
  width: 550px;
}

header h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

header h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin: 0;
}

header h1 span {
  color: #fd9707;
}

header p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.image_container {
  /* position: absolute; */
  z-index: 1;
}

.image_container div {
  position: absolute;
  background-size: cover;
  background-position: center;
  width: calc(15vw);
  height: calc(20vw);
}


/* مواقع الصور */
.image_container .img1 { bottom: 0%; right: 0%; width: 200px; height: 300px; background-position:top;  }
.image_container .img2 { top: 0%; right: 0%; width: 200px; height: 230px; }
.image_container .img3 { top: 28%; right: 8%; width: 250px; height: 280px; }
.image_container .img4 { top: 2%; right: 18%; width: 200px; height: 230px; }
.image_container .img5 { bottom: 0%; right: 24%; width: 200px; height: 160px; background-position:top; }
.image_container .img6 { bottom: 18%; right: 18%; width: 150px; height: 160px; z-index: 2;}
.image_container .img7 { bottom: 15%; right: 25%; width: 450px; height: 480px; }

.image_container .img6 p {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* استجابة للشاشات الصغيرة */
@media (max-width: 768px) {
  .hero {
    height: 70vh;
  }

  header h1 {
    font-size: 2.5rem;
  }

  header p {
    font-size: 1rem;
  }

  .image_container div {

    display: none;
  }

}

/* city select style */
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  /* background-color: rgb(17, 174, 201); */
  height: auto;
  padding: 10px;
  border-radius: 10px;
  
}
.wid{
  width: fit-content;
}